set editing-mode vi
set show-mode-in-prompt on
INS="\e[1;38;5;16;48;5;45m INSERT \e[49m "
CMD="\e[1;38;5;16;48;5;190m NORMAL \e[49m "
#set vi-ins-mode-string "\e[1;38;5;16;48;5;45m INSERT \e[49m "
set vi-ins-mode-string <INS>
#set vi-cmd-mode-string "\e[1;38;5;16;48;5;190m NORMAL \e[49m "
set vi-cmd-mode-string <CMD>
# Color files by types
# Note that this may cause completion text blink in some terminals (e.g. xterm).
set colored-stats On
# Append char to indicate type
set visible-stats On
# Mark symlinked directories
set mark-symlinked-directories On
# Color the common prefix
set colored-completion-prefix On
# Color the common prefix in menu-complete
set menu-complete-display-prefix On
set show-all-if-unmodified 
set show-all-if-ambiguous on
set keymap vi-command
g: yank-last-arg
n: backward-char
N: beginning-of-line
i: forward-char
I: end-of-line
u: previous-history
e: next-history
h: forward-word
j: undo
k: vi-search-again
l: vi-insertion-mode
L: vi-insert-beg



